<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Firma Digital</title>
  <style>
    body { margin: 0; padding: 0; }
    .firma-container {
      font-family: Arial, sans-serif;
      color: #333333;
      width: 550px;
      display: table;
    }
  </style>
</head>
<body>
  <div class="firma-container">
    <table cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; color: #333333;">
      <tr>
        <td style="padding-right: 15px; vertical-align: top;">
          <img src="{{logoUrl}}" alt="Innovate Nutrition Logo" width="120" height="auto">
        </td>
        <td style="border-left: 2px solid #1a8b9d; padding-left: 15px;">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td style="font-size: 16px; font-weight: bold; color: #1a8b9d;">
                {{nombre}} {{apellido}}
              </td>
            </tr>
            <tr>
              <td style="font-size: 14px; padding-top: 3px;">
                {{cargo}}
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; color: #666666; padding-top: 2px;">
                {{departamento}}
              </td>
            </tr>
            <tr>
              <td style="padding-top: 10px;">
                <table cellpadding="0" cellspacing="0" border="0">
                  {{#if telefono}}
                  <tr>
                    <td style="padding-right: 5px; vertical-align: top;">
                      <img src="{{phoneIconUrl}}" alt="Teléfono" width="14" height="14">
                    </td>
                    <td style="font-size: 12px; color: #666666;">
                      {{telefono}}
                    </td>
                  </tr>
                  {{/if}}
                  {{#if celular}}
                  <tr>
                    <td style="padding-right: 5px; padding-top: 3px; vertical-align: top;">
                      <img src="{{mobileIconUrl}}" alt="Celular" width="14" height="14">
                    </td>
                    <td style="font-size: 12px; color: #666666; padding-top: 3px;">
                      {{celular}}
                    </td>
                  </tr>
                  {{/if}}
                  <tr>
                    <td style="padding-right: 5px; padding-top: 3px; vertical-align: top;">
                      <img src="{{emailIconUrl}}" alt="Email" width="14" height="14">
                    </td>
                    <td style="font-size: 12px; color: #666666; padding-top: 3px;">
                      {{email}}
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-right: 5px; padding-top: 3px; vertical-align: top;">
                      <img src="{{webIconUrl}}" alt="Web" width="14" height="14">
                    </td>
                    <td style="font-size: 12px; color: #666666; padding-top: 3px;">
                      www.innovatenutrition.com
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 10px;">
                <a href="https://facebook.com/innovatenutrition" target="_blank">
                  <img src="{{facebookIconUrl}}" alt="Facebook" width="20" height="20" style="margin-right: 5px;">
                </a>
                <a href="https://instagram.com/innovatenutrition" target="_blank">
                  <img src="{{instagramIconUrl}}" alt="Instagram" width="20" height="20" style="margin-right: 5px;">
                </a>
                <a href="https://linkedin.com/company/innovatenutrition" target="_blank">
                  <img src="{{linkedinIconUrl}}" alt="LinkedIn" width="20" height="20">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>